/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BASE */

body {
    background-color: #202125;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 15vw;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 7.5vh;
    right: 1.5vw;
    font-family: Montserrat, sans-serif;
}

.book {
    position: relative;
    width: 360px;
    height: 480px;
    transition: transform 0.5s;
}

.page {
    position: absolute;
    width: 360px;
    height: 480px;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 360px;
    height: 480px;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 1%;
}

.link img {
    position: absolute;
    top: 3vh;
    left: 2vw;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #14213d;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center
}

.front-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
}

.back-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

.back-content {
    transform: rotateY(180deg);
}

.page img {
    width: 331px;
    border-radius: 1%;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.5s;
}

#hint{
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
}



/* BASE */

/* x1.25 */

@media (min-width: 1600px) {

    .text {
        font-size: 31px;
    }

    .book {
        width: 450px;
        height: 600px;
    }

    .page {
        width: 450px;
        height: 600px;
    }

    .front,
    .back {
        width: 450px;
        height: 600px;
    }

    .link img {
        height: 43px;
        width: 43px;
    }

    .front-content,
    .back-content {
        width: 450px;
        height: 600px;
    }

    .page img {
        width: 414px;
    }

    #hint{
        font-size: 18px;
    }

}

/* x1.25 */

/* x0.60 */

@media (max-width: 1090px) {

    .text {
        font-size: 14px;
    }

    .book {
        width: 216px;
        height: 288px;
    }

    .page {
        width: 216px;
        height: 288px;
    }

    .front,
    .back {
        width: 216px;
        height: 288px;
    }

    .link img {
        height: 21px;
        width: 21px;
    }

    .front-content,
    .back-content {
        width: 216px;
        height: 288px;;
    }

    .page img {
        width: 199px;
    }

    #hint{
        font-size: 9px;
    }

}

@media (max-width: 420px) {

    body{
        transform: rotate(90deg);
    }

    .link img {
        display:none
    }
    
    .text {
        display:none
    }

}

/* x0.60 */

